# API Configuration
# For production: https://msy-api.phyozaw.info/api/v1/admin
# For local development: http://localhost:8000/api/v1/admin
VITE_API_URL=http://localhost:8000/api/v1/admin

# Development settings
VITE_DEV_PROXY=true

